.container {
	display: flex;
	min-width: 950px;
	height: 100%;

	.ant-layout-sider {
		box-sizing: border-box;
	}

	.ant-layout {
		min-width: 0;

		/* 闃叉 tabs 瓒呭嚭涓嶆敹缂? */
		overflow-x: hidden;

		.ant-layout-content {
			box-sizing: border-box;
			flex: 1;
			min-height: 0;
			padding: 10px 12px;
			overflow-x: hidden;
		}
	}
}
